NODE_ENV=development
PORT=4100
API_TOKEN=

THINKIFIC_GRAPHQL_URL=https://api.thinkific.com/stable/graphql
THINKIFIC_TOKEN=
THINKIFIC_ACCESS_TOKEN=

SUNBIRD_API_URL=https://api.sunbird.ai/tasks/translate
SUNBIRD_API_KEY=

DB_PATH=./data/jobs.db
OUTPUT_DIR=./output
LOG_DIR=./logs
